/* I'm actually so fucking proud of this*/
.bigblue{ /* Big blue square where the stuff is in */  
    background-color: rgb(76, 0, 255);
    padding: 50px;
    margin: 20px; 
}
.flex{ /* Thing that arranges divs side-by-side */
    display: flex;
}
body{
    background-color: blueviolet;
}
.bigrectangle{ /* This big dark purple rectangle contributes little to the code */
    background-color: rgb(87, 3, 87);
    padding: 30px;
    display: flex;
    justify-content: center;
}
.square{ /* yellow squares used to represent the elements in the layout of the website */
    background-color: rgb(255, 255, 0);
    padding: 20px;
    margin: 10px;
}
.mediumhoriz{ /* Stands for "Medium Horizontal" */
    padding-right: 80px;
}
.mediumvert{ /* Stands for "Medium Verical" */
    padding-bottom: 80px;
}
.bigvert{ /* Stands for "Big Verical" */
    padding-bottom: 140px;
}
.mvfix{ /* Stands for "Medium Vertical Fix" */
    margin-top: 20px;
    /* This class is used to fix a weird quirk happening with some elements
    (Specially the ones using the class mediumvert) where the margin of two
    overlay, shortening the distance between them and making it ugly. This 
    adds extra margin on the top of one of the elements to negate this problem */
}
.margintopper{ /* Adds empty space above element. Created specifically for Layout 8*/
    margin-top: 60px;
}
.margintopper2{ /* Adds less empty space above element. Created specifically for Layout 19*/
    margin-top: 40px;
}
.Alittletotheleft{ /* Weird class that adds negative margin to an object. Made specifically for the spiral design */
    margin-left: -50px;
}
.monolith{ /* The big block as tall as five lines */ 
    padding-bottom: 260px;
}
.leftspace{ /* Adds left margin */
    margin-left: 40px;
}